body{background: rgb(164, 164, 164)}

#head1 {
    font-weight: bold;
}


#aim {
    position: relative;
    top: 3px;
}

#image{
    height: 405px;
    width: 492px;
    top: 200px;
    left: 80px;
    
    z-index: 1;
}

#head2 {
    font-weight: bold;
    top: 450px;
}

.gifs{
    display:inline;
    
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}

.pic1{
    position: absolute;
    left: 10%;
}

.pic2{
    position: absolute;
    left: 51%;
}
.pic3{
    position: absolute;
    left: 10%;
    top: 1310px;
}

.pic4{
    position: absolute;
    left: 51%;
    top: 1310px;
}